<article>
  <%= image_tag post.feature_image if post.feature_image.present? %>
  <h1><%= link_to_unless_current post.title, post_path(post.slug) %></h1>
  <p><%= post.published_at %></p>
  <% post.authors.each do |author| %>
    <p>by <%= author %></p>
  <% end %>
  <p><%= post.html.html_safe %></p>
</article>

